/* Feuille de style */

* {
  margin: 0px;
  padding: 0px;
}

/* Style du corps de la page: */
body {
  cursor: default;
  background-color: #171919;
  color: #ffffff;
  font-family: sans-serif, "Segoe UI", Tahoma;
}

/* Style du titre de la page: */
header {
  background-color: #28c2c2;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
  text-align: center;
  min-width: 800px;
}

/* Style du titre du panneau de contrôle: */
#ajoutParticules {
  border-width: 1px 1px 1px 10px;
  padding: 5px;
  margin: 0px;
  border-style: solid;
  border-color: #28c2c2;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Style des labels pour le formulaire: */
#afficher_controle {
  cursor: pointer;
  margin: 10px 0px;
  text-align: center;
  color: #28c2c2;
}
form label {
  display: inline-block;
  width: 30%;
}
#value_masse {
  border: 1px solid #28c2c2;
  width: 50px;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
}

/* Style du color picker: */
#color {
  width: 50px;
  border: 1px solid #28c2c2;
  padding: 0px;
  cursor: pointer;
  outline: none;
}

/* Style de du slider pour la masse: */
#masse {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(40, 194, 194, 0.5);
}

/* Style du canvas contenant l'animation: */
#affichage {
  position: absolute;
  border: 1px solid #28c2c2;
  background-color: #171919;
  z-index: -1;
}

/* Style de la zône de contrôle: */
#controle {
  display: none;
}
#sous_controle {
  margin: 0px;
  padding: 10px;
  background-color: rgba(40, 194, 194, 0.2);
}
#explications {
  text-align: justify;
  font-size: 14px;
  margin: 15px 0;
}
#zone_controle {
  width: 400px;
}

/* Style des boutons: */
#btn {
  /* Conteneur des boutons */
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bouton {
  /* Styles s'appliquant sur les deux boutons */
  outline: none;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 1000;
  text-justify: center;
  cursor: pointer;
  border: 0px;
  border-radius: 15px;
  width: 150px;
  height: 40px;
}

#demarrer {
  /* Styles ne s'appliquant qu'au bouton démarrer. */
  background-color: rgba(102, 255, 102, 0.9);
}

#arreter {
  /* Styles ne s'appliquant qu'au bouton arreter. */
  background-color: rgba(255, 51, 51, 0.9);
}

/* Centrer zone_affiche à l'aide de flexbox: */
/* Pour centrer cet élément avec flexbox, j'ai rajouté une div de container (id="containerflex") ainsi que deux div (class="toflex").
    Le container est affiché en flex avec une direction en ligne.
    Les div toflex ont un flex-grow de 1, tandis que la zone d'affichage aura un flex-grow à 0 (non précisé car de base) mais un flex-basis à 800px
    soit la largeur du canvas. 
    Ainsi, la zone de 800px de large contenant le canvas sera toujours centrée, avec les deux div de coté variant de taille.*/
#containerflex {
  display: flex;
  flex-direction: row;
}
.toflex {
  flex-grow: 1;
}
#zone_affiche {
  flex-basis: 800px;
  height: 0px; /* Pour que cette div ne prenne pas de hauteur, et laisser la place à l'animation dans le canvas (sinon on ne peut pas double-cliquer) */
}

/* Style du pied de page: */
footer {
  opacity: 0.75;
  z-index: -2;
  width: 100%;
  min-width: 820px;
  position: fixed;
  padding: 10px 0px;
  bottom: 0;
  border-top: 1px solid #28c2c2;
  text-align: center;
  background-color: rgba(40, 194, 194, 0.2);
}
